.tollbar {
    position: fixed;
    background-color: blueviolet;
    width: 100%;
    height: 55px;
    left: 0;
    top: 0;
}

.tollbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0;
}

.tollbar__logo {
    top: 0;
    margin-left: 1rem;
    padding: 0.6rem;
}

.tollbar__logo a {
    padding: 0;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 0;
}

.spacer {
    flex: 1;
}

.tollbar-navigation__items {
    padding-top: 0.9rem;
}

.tollbar__navigation ul {
    list-style: none;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.tollbar__navigation li {
    margin-top: -15px;
    padding: 0 0.7rem;
}

.tollbar__navigation li:last-child {
    padding-right: 2rem;
}

.tollbar-navigation__items a {
    color: #ffffff;
    font-size: 1.1rem;
    text-decoration: none;
}

.tollbar-navigation__items a:hover,
.tollbar-navigation__items a:active {
    color: coral;
}

@media (max-width: 768px) {
    .tollbar-navigation__items {
        display: none;
    }
}

@media (min-width: 769px) {
    .toolbar__toggle-button {
        display: none;
    }
}